.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
  color: #555;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
}

.vehicleDetailsContainer {
  width: 30%;
}
