@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./assets/styles/login.module.css);
@import url(./assets/styles/vehicle-list.module.css);
@import url(./assets/styles/reservation.module.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  overflow: hidden;
}

.enable-scrolling {
  overflow: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.enable-scrolling::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, -20px) !important;
  left: auto;
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, -20px) !important;
  right: auto;
}

.swiper-button-next svg {
  width: 12px !important;
  height: 12px !important;
  margin-right: auto;
  margin-left: 8px;
}

.swiper-button-prev svg {
  width: 12px !important;
  height: 12px !important;
  margin-right: 8px;
  margin-left: auto;
}

.container {
  max-width: 100vw;
  padding: 0;
  margin: 0 auto;
}

.full-height {
  height: 100vh;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 45rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 480px !important;
  height: 42rem;
  position: relative;
  align-items: center;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }

  .swiper-slide {
    width: 100vw !important;
    height: 36rem !important;
    padding-right: 10px;
    padding-left: 10px;
  }

  .swiper-slide img {
    width: 100vw !important;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

@media (max-width: 1024px) {
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider-controler .swiper-button-next {
  height: 35px;
  width: 80px;
  padding-left: 6px;
}

.slider-controler .swiper-button-prev {
  height: 35px;
  width: 80px;
  padding-right: 6px;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-wrapper {
  justify-content: start;
}
